a div:hover {
  background-color: #eee;
}

.sidebarMenu {
  width: 13vw;
}

.sidebarMenu-hidden {
  display: none;
}

:root {
  --responsiveContainer-margin-left: 13vw;
  --sidebarMenu-width: 13vw;
}

.responsiveContainer {
  margin-left: var(--responsiveContainer-margin-left);
}


@media only screen and (max-width: 1280px) {
  .sidebarMenu {
    width: var(---sidebarMenu-width);
  }

  :root {
    --responsiveContainer-margin-left: 0;
  }

  .sidebarMenu-hidden {
    display: none;
  }
}

dialog {
  margin-top: 20px;
  overflow-x: auto;
  width: calc(100% - 20px);
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.5rem;
  outline: 0;
  padding: 0;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.fixed-when-scroll {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: white;
}

.fixed-content {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: white;
}